### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.SN.nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.columns = ['Purchase_ID', 'SN', 'Age', 'Gender', 'Item_ID', 'Item_Name', 'Price']

In [5]:
purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
totitems = purchase_data.Item_ID.nunique()
avgprice = purchase_data.Price.mean()
countpurch = purchase_data.Purchase_ID.count()
sumpurch = purchase_data.Price.sum()

In [7]:
summary1 = pd.DataFrame({'Number of Unique Items':[totitems],
             'Average Price':[avgprice],
             'Number of Purchases':[countpurch],
             'Total Revenue':[sumpurch]})
summary1

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
Genderdf = purchase_data.Gender.value_counts().rename_axis('Genders').to_frame('Totals')
Genderdf['Percentage'] = Genderdf.Totals / Genderdf.Totals.sum()
Genderdf.Percentage = Genderdf['Percentage'].astype(float).map("{:.2%}".format)
Genderdf

                       Totals Percentage
Genders
Male                      652     83.59%
Female                    113     14.49%
Other / Non-Disclosed      15      1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
gendmeandf = purchase_data.groupby(['Gender']).mean()
gendmeandf1 = gendmeandf.drop(['Item_ID','Purchase_ID','Age'],axis=1)
gendmeandf1.columns = ['Avg Price']
gendmeandf1

                       Avg Price
Gender
Female                  3.203009
Male                    3.017853
Other / Non-Disclosed   3.346000

In [10]:
gendcountdf = purchase_data.groupby(['Gender']).count()
gendcountdf = gendcountdf.drop(['SN','Age','Item_ID','Item_Name','Price'],axis=1)
gendcountdf.columns = ['# of Purchases']
gendcountdf

                       # of Purchases
Gender
Female                            113
Male                              652
Other / Non-Disclosed              15

In [11]:
gendcountdf.merge(gendmeandf1,left_index=True, right_index=True)

                       # of Purchases  Avg Price
Gender
Female                            113   3.203009
Male                              652   3.017853
Other / Non-Disclosed              15   3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
bins =[1,9.9,14.9,19.9,24.9,29.9,34.9,39.9,1000]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_data['Group Ages']=pd.cut(purchase_data['Age'],bins, labels=group_names,include_lowest=True)
group = purchase_data.groupby('Group Ages').count()
groupdrop = group.drop(['SN','Age','Gender','Item_ID','Item_Name','Price'],axis=1)
groupdrop.columns = ['Totals']
groupdrop['Percentage'] = groupdrop.Totals / groupdrop.Totals.sum()
groupdrop.Percentage = groupdrop['Percentage'].astype(float).map("{:.2%}".format)
groupdrop

            Totals Percentage
Group Ages
<10             23      2.95%
10-14           28      3.59%
15-19          136     17.44%
20-24          365     46.79%
25-29          101     12.95%
30-34           73      9.36%
35-39           41      5.26%
40+             13      1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#same as above

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
sortdf = purchase_data.groupby(['SN']).sum(['Price'])
sortdf.sort_values(by=['Price'],ascending=False)

             Purchase_ID  Age  Item_ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10
...                  ...  ...      ...    ...
Ililsasya43          702   19       12   1.02
Irilis75             582   20       19   1.02
Aidai61              282   21      155   1.01
Chanirra79           586   23      155   1.01
Alo38                 63   20      125   1.00

[576 rows x 4 columns]

In [15]:
purchasecount = purchase_data.groupby(['SN']).count()
srtdf = sortdf.merge(purchasecount,left_index=True, right_index=True)
srtdf.columns
srtdf.sort_values(by=['Price_x'],ascending=False)
srtdfdroptdf = srtdf.drop(['Purchase_ID_x', 'Age_x', 'Item_ID_x', 'Age_y', 'Gender', 'Item_ID_y', 'Item_Name', 'Price_y', 'Group Ages'],axis=1)
srtdfdroptdf2 = srtdfdroptdf.sort_values(by=['Price_x'],ascending=False)
srtdfdroptdf2.iloc[:5]

             Price_x  Purchase_ID_y
SN
Lisosia93      18.96              5
Idastidru52    15.45              4
Chamjask73     13.83              3
Iral74         13.62              4
Iskadarya95    13.10              3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [51]:
itemsrt = purchase_data.groupby(['Item_Name']).count()
itmsrtdf = itemsrt.sort_values(by=['Purchase_ID'],ascending=False)
#n=5
#for n in range(2000):
itmsrtdf = itmsrtdf.drop(itmsrtdf.index[range(5,179)])
itmsrtdf.shape
itmmerge = itmsrtdf.merge(purchase_data, how='right', on='Item_Name')
itmmerge
itmmerge.sort_values(by=['Item_ID_x'],ascending=False)
itmmerge = itmmerge.dropna()
itmmerge.reset_index(drop=True)
for i in range(0,53):
    if

,Item_Name,Purchase_ID_x,SN_x,Age_x,Gender_x,Item_ID_x,Price_x,Group Ages_x,Purchase_ID_y,SN_y,Age_y,Gender_y,Item_ID_y,Price_y,Group Ages_y
0,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,0,Lisim78,20,Male,108,3.53,20-24
1,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,2,Ithergue48,24,Male,92,4.88,20-24
2,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,18,Reunasu60,22,Female,82,4.90,20-24
3,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,24,Siala43,30,Male,132,3.19,30-34
4,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,25,Lisirra87,29,Male,178,4.23,25-29
5,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,56,Raesty92,12,Male,108,3.53,10-14
6,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,61,Jiskimya77,17,Male,178,4.23,15-19
7,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,62,Yadaphos40,30,Male,178,4.23,30-34
8,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,72,Marilsa69,25,Female,178,4.23,25-29
9,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,88,Laedallo55,30,Male,82,4.90,30-34
10,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,98,Chadossa89,23,Male,132,3.19,20-24
11,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,99,Haisrisuir60,23,Male,92,4.19,20-24
12,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,157,Marast30,18,Female,108,3.53,15-19
13,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,202,Phistym51,37,Male,82,4.90,35-39
14,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,222,Chamjask73,22,Female,178,4.23,20-24
15,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,240,Lirtastsda29,16,Male,82,4.90,15-19
16,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,247,Iskadarya95,20,Male,82,4.90,20-24
17,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,252,Tyaelo67,39,Male,92,4.88,35-39
18,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,261,Tyeosri53,24,Male,132,3.19,20-24
19,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,273,Phyali88,15,Female,92,4.88,15-19
20,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,274,Aerithllora36,29,Female,82,4.90,25-29
21,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,277,Ennalmol65,24,Male,92,4.88,20-24
22,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,411,Lisico81,10,Male,92,4.19,10-14
23,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,414,Marokian45,23,Male,108,3.53,20-24
24,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,464,Rianistast50,22,Male,178,4.23,20-24
25,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,483,Saistyphos30,35,Male,108,3.53,35-39
26,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,498,Firon67,35,Male,108,3.53,35-39
27,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,504,Chamilsala65,23,Female,82,4.90,20-24
28,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,522,Meosridil82,18,Male,82,4.90,15-19
29,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,536,Siallylis44,20,Male,92,4.19,20-24
30,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,538,Chanadar44,25,Male,132,3.19,25-29
31,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,558,Lassadarsda57,25,Female,108,3.53,25-29
32,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,580,Tyida79,24,Male,178,4.23,20-24
33,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,587,Assirra56,22,Male,132,3.19,20-24
34,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,590,Iathem87,20,Male,132,3.19,20-24
35,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,603,Lisosia93,25,Male,132,3.19,25-29
36,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,608,Leyirra83,24,Female,132,3.33,20-24
37,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,627,Arin32,25,Male,178,4.23,25-29
38,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,640,Sausosia74,22,Male,108,3.53,20-24
39,Persuasion,9.0,9.0,9.0,9.0,9.0,9.0,9.0,651,Lirtilsa72,24,Male,132,3.33,20-24
40,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,658,Quilassa66,7,Female,178,4.23,<10
41,Nirvana,9.0,9.0,9.0,9.0,9.0,9.0,9.0,666,Assilsan72,20,Female,82,4.90,20-24
42,"Extraction, Quickblade Of Trembling Hands",9.0,9.0,9.0,9.0,9.0,9.0,9.0,678,Rarallo90,33,Male,108,3.53,30-34
43,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,706,Chanossanya44,20,Male,178,4.23,20-24
44,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,712,Lisilsa62,25,Male,92,4.88,25-29
45,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,722,Ilarin91,22,Male,92,4.88,20-24
46,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,730,Aidaira26,30,Male,178,4.23,30-34
47,"Oathbreaker, Last Hope of the Breaking Storm",12.0,12.0,12.0,12.0,12.0,12.0,12.0,753,Frichirranya75,36,Male,178,4.23,35-39
48,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,767,Ilmol66,8,Female,92,4.88,<10
49,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,768,Assassasta79,38,Male,92,4.88,35-39
50,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,774,Jiskjask80,11,Male,92,4.19,10-14
51,Final Critic,13.0,13.0,13.0,13.0,13.0,13.0,13.0,778,Sisur91,7,Male,92,4.19,<10

In [56]:
itmsrtdf.columns

Index(['Purchase_ID', 'SN', 'Age', 'Gender', 'Item_ID', 'Price', 'Group Ages'], dtype='object')

In [55]:
itmmerge.index[6]

61

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80